h3
		{
			color:rgb(171, 79, 39);
			font-family: Arial;
		}
		aside
		{
			width: 15%;
			padding-left: 15px;
			margin-left: 15px;
			float: right;
			background-color: lightgray;
		}
		.border
		{
			border-style: double;
			padding: 15px;
		}